h1, h2, h3 {
    color: rgb(34, 34, 126);
    font-family: "Sacramento", cursive;
}

.gradient-background {
    background-color: rgb(146, 146, 236);
}
.main {
    border-radius: 50%;
    border: 2px solid rgb(34, 34, 126);
    
}
p, ol {
    color: rgb(34, 34, 126);
    font-family: Merriweather, serif;
}
.gold {
    margin-left: 10%;

}
.book {
    border: 2px solid rgb(63, 63, 165);
    border-radius: 25%;
    margin-bottom: 10px;

}
.coding {
    margin-right: 10px;
    border-radius: 10px;
}
#ultimate {
    padding-top: 0px;
    background-color:rgb(108, 108, 184);
    width: 100%;
    height: 200px;
}
.text-center {
    color: white;
}